<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Bands</title>
	</head>
	<body>
		<h1>Bands</h1>
		<a href="/new">Insert a new band</a>
		<br><br>
		{{{ body }}}
	</body>
</html>
